@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --green: #19ce67;
  --blue: #0d253f;
  --primary-color: #f4f9fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--primary-color);
  overflow: hidden;
}

.container {
  max-width: 440px;
  padding: 0 20px;
  margin: 100px auto;
}

.wrapper {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
  height: 90px;
  background: var(--green);
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form {
  padding: 30px 20px 20px 20px;
}

.wrapper form .row {
  height: 35px;
  margin-bottom: 15px;
  position: relative;
}

.wrapper form .row input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}

form .row input:focus {
  border: 1px solid var(--green)
}

form .row input::placeholder {
  color: #757575;
}

.wrapper form .row i {
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: var(--green);
  border: 1px solid var(--green);
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form .pass {
  margin: -8px 0 20px 0;
}

.wrapper form .pass a {
  color: var(--green);
  font-size: 17px;
  text-decoration: none;
}

.wrapper form .pass a:hover {
  text-decoration: underline;
}

.wrapper form .button button {
  width: 100%;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: var(--green);
  border: 1px solid var(--green);
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  height: 35px;
}

.wrapper form .button button:hover {
  background: var(--blue);
  border: 1px solid var(--blue);
}

form .button input:hover {
  background: var(--green);
}

.alert {
  background: #ffe1e3;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 5px solid #fe4557;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.alert.showAlert {
  opacity: 1;
  pointer-events: auto;
}

.alert.show {
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-10%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10px);
  }
}

.alert.hide {
  animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
  0% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(100%);
  }
}


.alert .fa-times-circle {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #f84858;
  font-size: 30px;
}

.alert .msg {
  padding: 0 20px;
  font-size: 18px;
  color: #f84858;
}

.alert .close-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #ffa3ad;
  padding: 20px 18px;
  cursor: pointer;
}

.alert .close-btn:hover {
  background: #ff99a4;
}

.alert .close-btn .fas {
  color: #f84858;
  font-size: 22px;
  line-height: 40px;
}

@media(max-width:480px) {
  .alert {
    min-width: 60%;
    padding: 5px 10px;
  }

  .alert .fa-times-circle {
    left: 10px;
    font-size: 80%;
  }

  .alert .msg {
    margin: 5px;
    padding: 0 15px;
    font-size: 65%;
    line-height: 2.5;
  }

  .alert .close-btn {
    padding: 10px 9px;
  }

  .alert .close-btn .fas {
    font-size: 65%;
    line-height: 2.5;
  }

}